.nav-container {
    background-color: #fdf6f6;
    height: 15vh;
    box-sizing: border-box;
    /* padding: 1vh; */
    border-radius: 2px;
    min-width: 100%;
}

.nav-flex-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding: 1.5vh;
}

.nav-logo-container {
    height: 12vh;
    width: 10vw;
    box-sizing: border-box;
    /* margin: 1vh; */
}



.nav-logo {
    height: 12vh;
    width: 10vw;
}

.nav-logo:hover {
    height: 13vh;
    width: 11vw;
}


.nav-link-container {
    box-sizing: border-box;
}
.nav-link {
    text-decoration: none;
    font-size: 5.5vh;
    font-weight: 300;
    color: #1b1a17;
}
.nav-link:hover {
    /* text-decoration: underline; */
    /* font-size: 6vh; */
    color: #a5e9e1;
}
