.nav-container {
    background-color: #fdf6f6;
    height: 15vmax;
    max-height: 135px;
    box-sizing: border-box;
    /* padding: 1vh; */
    border-radius: 2px;
    min-width: 100%;
}

.nav-flex-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding: 1.5vh;
}

.nav-logo-container {
    height: 12vh;
    width: auto;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    /* margin: 1vh; */
}



.nav-logo {
    height: 75px;
    width: auto;
}

/* .nav-logo:hover {
    height: 13vh;
    width: auto;
} */


.nav-link-container {
    box-sizing: border-box;
    min-height: 35px;
    width: auto;
}
.nav-link {
    text-decoration: none;
    font-size: 30px;

    font-weight: 300;
    color: #1b1a17;
    cursor: pointer;
}
.nav-link:hover {
    /* text-decoration: underline; */
    /* font-size: 6vh; */
    color: #a5e9e1;
}



@media screen and (max-width: 550px) {
  .nav-flex-container {
    height: 50%;
    width: auto;
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-template-rows: auto;
    grid-template-areas:
    "logo search logout"
    "logo coinBrowser logout";
  }
  .nav-logo-container{
      grid-area: logo;
        display: flex;
    }
    .nav-logo {
    height: 65px;
    width: auto;
}
    .search-container{
      align-items: center;
      justify-content: center;
      grid-area: search;
    }
    .nav-link-container{
        grid-area: coinBrowser;
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: 35px;
        width: auto;
}


  .logout-container{
    grid-area: logout;
    display: flex;
    /* align-items: flex-start; */
    justify-content: flex-end;
    min-width: 56px;
    min-height: 50px;
    }

            .search-button {
    display: none;

  }
  /* .nav-logo:hover {
    height: 13vmin;
    width: auto;
} */
.nav-link {
    text-decoration: none;
    font-size: 30px;

    font-weight: 300;
    color: #1b1a17;
    cursor: pointer;
}
.search {
    display: flex;
    justify-content: center;
    /* width: 300px; */
}
}
