@media screen and (max-width: 950px) {
.splash-body {
    display: grid;
    grid-template-rows: .1fr 1fr 2fr;
    grid-template-areas:
        'head'
        'title'
        'blurb';
    background-color: #1b1a17;
    height: 79vh;
    width: 100%;
}
.splash-title-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    grid-area: title;
}

.splash-title {
    font-size: 8vw;
    display: flex;
    justify-content: center;
    font-weight: 600;
}

.splash-subtitle {
    display: flex;
    justify-content: center;
    font-size: 6vw;
}

.blurb{
    display: flex;
    grid-area: blurb;
    font-size: 3vw;
    justify-content: center;
    height: 30vh;
    width: 70vw;
    justify-self: center;
    text-align: center;
    flex-direction: column;
    overflow-y: scroll;
    box-sizing: border-box;
    margin-top: 20px;
}

.splash-logo {
    display: none;
    grid-area: logo;
    box-sizing: border-box;
    position: relative;
    margin-left: 33.3vw;
    /* margin-top: 3vh; */
    height: 18vh;

}
.splash-logo-2 {
    display: none;
    grid-area: head title;
    box-sizing: border-box;
    position: absolute;
    margin-left: 82vw;
    margin-top: 3vh;
    height: 20vh;
}
}

@media screen and (min-width: 951px) {
.splash-body {
    display: grid;
    grid-template-rows: 1fr 1fr 2fr;
    grid-template-areas:
        'head'
        'title'
        'blurb';
    background-color: #1b1a17;
    height: 79vh;
    width: 100%;
}

.splash-title-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    grid-area: title;
    box-sizing: border-box;
    margin: 20px;
}

.splash-title {
    font-size: 100px;
    display: flex;
    justify-content: center;
    font-weight: 600;
}

.splash-subtitle {
    display: flex;
    justify-content: center;
    font-size: 50px;
}
.splash-logo {
    grid-area: head title;
    box-sizing: border-box;
    position: absolute;
    margin-left: 3vw;
    margin-top: 3vh;
    height: 20vh;

}
.splash-logo-2 {
    grid-area: head title;
    box-sizing: border-box;
    position: absolute;
    margin-left: 82vw;
    margin-top: 3vh;
    height: 20vh;
}

.splash-forms {
    display: flex;
    justify-content: center;
    grid-area: forms;
    margin-top: 20px;
}

.blurb{
    display: flex;
    grid-area: blurb;
    font-size: 25px;
    justify-content: center;
    height: 26vh;
    width: 60vw;
    justify-self: center;
    text-align: center;
    flex-direction: column;
    overflow-y: scroll;
    box-sizing: border-box;
    margin-top: 20px;
}

.splash-login {
    box-sizing: border-box;
    margin: 15px;
}

.splash-signup {
    box-sizing: border-box;
    margin: 15px;
}
}