
.coinBrowser-body {
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    margin-top: 40px;
    /* background-image: url('../../images/TransparentLogo.png'); */

}

.table-container {
    max-width: 50vw;
    height: 73vh;
    overflow-y: scroll;
}

.browser-head {
    font-size: 35px !important;
}

.browser-link {
    text-decoration: none;
    font-size: 26px;
    color: #1b1a17;
    font-family: inherit;
}

.browser-link:hover {
    text-decoration: underline;
}

.browser-link:visited {
    color: #1b1a17
}

/* .browser-data {
    font-size: 20px !important;
}
} */
