.price-detail-container {
    box-sizing: border-box;
    margin-top: 15px;
    display: grid;
    grid-template-rows: 20vh 50vh 25vh 1fr;
    grid-template-columns: 15% 70% 15%;
    grid-template-areas:
        'left header right'
        'left graph right'
        'left detail right'
        'left description right'
}

.header{
    box-sizing: border-box;
    padding: 20px;
    grid-area: header;
    display: grid;
    grid-template-columns:  20% 60% 20%;
    grid-template-areas: ' image name button';
}
.header-info-container {
    grid-area: name;
    display: flex;
    flex-direction: column;
}

.detail-coin-name {
    font-size: 7vh;
    font-weight: 600;
}
.detail-coin-symbol {
    font-size: 4vh;
    font-weight: 300;
    box-sizing: border-box;

}
.detail-coin-image-container {
    grid-area: image;
}
.detail-coin-image {
    height: 120px;
}
.detail-button-container {
    grid-area: button;
    box-sizing: border-box;
    position: relative;
    top: 80px;
}
.detail-watchlist-button {
    font-size: 20px;
    /* background-color: #a5e9e1; */
    background-image: radial-gradient( white 15%, #a5e9e1 25%, #388186 60%);
    color: #1b1a17;
    border: none;
    border-radius: 4px;
    box-sizing: border-box;
    padding: 4px;
    box-shadow: 2px 2px 0px 0px #a5e9e1;
    cursor: pointer;
}
.detail-watchlist-button:hover {
    box-shadow: 2px 2px 0px 1px #a5e9e1;
    /* font-size: 21px; */
}



.graph-div{
    border: 1px solid white;
    grid-area: graph;
    display: grid;
    grid-template-columns: 70% 30%;
    grid-template-areas:
        'graph buttons';
}
.detail-graph {
    grid-area: graph;
    box-sizing: border-box;
    /* margin-left:; */
    width: 600px;
    height: 350px;
}
.graph-buttons-container {
    grid-area: buttons;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    margin: 20px;
    margin-top: 100px;
}
.graph-buttons {
    font-size: 20px;
    /* background-color: #a5e9e1; */
    background-image: radial-gradient( white 15%, #a5e9e1 25%, #388186 60%);
    color: #1b1a17;
    border: none;
    border-radius: 4px;
    box-sizing: border-box;
    margin: 8px;
    padding: 4px;
    box-shadow: 2px 2px 0px 0px #a5e9e1;
}
.graph-buttons:hover {
    box-shadow: 2px 2px 2px 1px #a5e9e1;
    cursor: pointer;
}


.market-detail{

    grid-area: detail;
    font-size: 3.9vh;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.buySell-container{
display: flex;
flex-direction: column;
width:50%;
}

.market-detail-container{
width:50%;
}
.description {
    border: 1px solid white;
    border-radius: 4px;
    grid-area: description;
    font-size: 2.8vh;
    box-sizing: border-box;
    padding: 8px;
}
.description a {
    color: inherit;
    font-family: inherit;
    font-weight: 600;
    text-decoration: none;
}

.description a:hover {
    text-decoration: underline;
}


.portfolio-add-label {
    font-size: 4vh;
}
.portfolio-add-input {
    font-size: 3vh;
    height: 2.5vh;
    width: 95%;
}
.portfolio-add-input:focus {
    outline: 0;
}
.portfolio-add-container {
    padding: 4px;
    height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
}
.portfolio-add-container div {
    box-sizing: border-box;
    margin-top: 2vh;
}
.tradeForm{
    width:50%
}

.red {
    color: red
}

.green {
    color: green
}

.disabled{
    opacity: 50%;
}
