.port-page {
  display: grid;
  grid-template-rows: 20% 80%;
  grid-template-columns: 1fr 6fr 1fr;
  column-gap: 10px;
  height: 70vh;
}

.port-container {
  display: grid;
  grid-row: 2;
  grid-column: 2;
  grid-template-columns: 2fr 1fr;
}

.port-table {
  grid-column: 1;
  overflow-y: scroll;
  height: 100%;
}

.watch-div {
  grid-column: 2;
  height: 80%;
  overflow-y: auto;
}

::-webkit-scrollbar {
  width: 0px
  }
