/* body{
    background-color: #1b1a17 !important;
    background-image: none;
} */
.splash-body {
    display: grid;
    grid-template-rows: 225px 225px 550px;
    grid-template-areas:
        'head'
        'title'
        'forms';
    background-color: #1b1a17;
    height: 105%;
    width: 105%;
}

.splash-title-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    grid-area: title;
}

.splash-title {
    font-size: 100px;
    /* grid-area: title; */
    display: flex;
    justify-content: center;
    font-weight: 600;
}

.splash-subtitle {
    /* grid-area: title; */
    display: flex;
    justify-content: center;
    font-size: 50px;
}
.splash-logo {

    grid-area: head title;
    /* z-index: -1; */
    box-sizing: border-box;
    position: absolute;
    margin-left: 3vw;
    margin-top: 3vh;

}
.splash-logo-2 {

    grid-area: head title;
    /* z-index: -1; */
    box-sizing: border-box;
    position: absolute;
    margin-left: 77vw;
    margin-top: 3vh;

}

.splash-forms {
    display: flex;
    justify-content: center;
    grid-area: forms;
    margin-top: 20px;
}

.splash-login {
    box-sizing: border-box;
    margin: 15px;
}

.splash-signup {
    box-sizing: border-box;
    margin: 15px;
}

.splash-demo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    box-sizing: border-box;
    margin: 10px;
    border: 2px solid #fdf6f6;
    padding: 10px;
    border-radius: 4px;
    background-color: #a5e9e1;
    background-image: url('../../images/DarkLogo.png');
    height: 122px;
}

.demo-btn {
    font-size: 28px;
    box-sizing: border-box;
    margin: 4px;
    background-color: #388186;
    border: none;
    border-radius: 4px;
    box-shadow: 2px 2px 2px 2px #1b1a17;
}

.demo-label {
    font-size: 42px;
    font-weight: 600;
    color: #1b1a17;
    display: flex;
    align-self: center;
}

.demo-btn:hover {
    background-color: #fdf6f6;
}
