.splash-body {
    display: grid;
    grid-template-rows: 200px 200px 500px ;
    grid-template-areas:
        'head' 
        'title'
        'forms';
}

.splash-title {
    font-size: 100px;
    grid-area: title;
    display: flex;
    justify-content: center;
}

.splash-logo {
    
    grid-area: head title;
    z-index: -1;
    display: flex;
    justify-content: center;
    
    box-sizing: border-box;
    position: absolute;
    margin-left: 38vw;
    margin-top: 10vh;
    
}

.splash-forms {
    display: flex;
    justify-content: center;
    grid-area: forms;
}

.splash-login {
    box-sizing: border-box;
    margin: 15px;
}

.splash-signup {
    box-sizing: border-box;
    margin: 15px;
}
