.search-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.search-button {
    font-size: 3vh;
    background-color: #282846;
    color: #fdf6f6;
    border: none;
    border-radius: 8px;
    box-sizing: border-box;
    padding: 2px;
    margin: 1vh;
    box-shadow: 2px 2px 0px 0px #1b1a17;
    height: 4vh;
    width: 7vw;
}

.search-button:hover {
    box-shadow: 2px 2px 0px 2px #1b1a17;
}

.search-input {
    font-size: 3vh;
    width: 25vw;
    box-sizing: border-box;
    text-align: center;
}