.search-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.search-button {
    font-size: 3vh;
    /* background-color: #282846; */
    background-image: radial-gradient( white 15%, #a5e9e1 25%, #388186 60%);
    color: black;
    border: none;
    border-radius: 8px;
    box-sizing: border-box;
    padding: 2px;
    margin: 1vh;
    box-shadow: 2px 2px 0px 0px #1b1a17;
    height: 4vh;
    width: 7vw;
}

.search-button:hover {
    box-shadow: 3px 3px 0px 0px #1b1a17;
    font-size: 3.1vh;
}

.search-input {
    font-size: 3vh;
    width: 25vw;
    box-sizing: border-box;
    text-align: center;
    border-radius: 4px;
}

.search-input:focus {
    outline: 0;
}